* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header img .logo{
	display: block;
	position: absolute;
	left: 20px;
	top: 25px;
 }
#header {
 	background-color: rgb(5 5 106);
}
nav li{
	float: left;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
}
.center a {
	text-decoration: none;
	color:rgb(65 105 225);
}
.center{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: rgb(5 5 106);
	padding-top: 25px;
	padding-bottom: 25px;
}
body{
	background-color: rgb(235 251 255);
}
.body{
	margin-top: 50px;
	margin-right: 200px;
	margin-left: 200px;
	background-color: rgba(123, 191, 192, 0.3);
	border-left-style: dashed;
	border-right-style: dashed;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(123 191 192);
	border-width: thick;
}
table {
	margin:auto;
	border-color: rgb(5 5 106);
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer{
	background-color: #006699;
	border-top: 5px;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top-style: double;
	border-color: #d1d1e0;
}
.footer p{
	text-align: left;
	margin-right: 20%;
	margin-left: 20%;
}